body {
    font-family: 'Poppins', sans-serif;
    width: 90%;
    margin: auto;
    background: radial-gradient(rgba(43, 55, 96, 1), rgba(11, 16, 35, 1));
    color: white;
}

.container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    border-block-end:  0.2rem solid rgba(255, 255, 255, 0.7);
    height: 25vh;
    font-style: italic; 
}
.logo-img{ 
    height: 75%;
    width: 75%;
}
.intro {
    margin: auto;
    width: 80%;
    align-items: center;
    align-self: center;
}
.work-gallery {
    width: 80%;
    margin: auto;
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}
.gallery-grid img {
    border-radius: 50%;
    height: 175px;
    width: 175px;
}
.project1 {
    display: flex;  
    flex-direction: column;  
}
.project1 p, img {
    margin: auto;
    cursor: pointer;
    font-weight: bold;
}
.project2 {
    display: flex;  
    flex-direction: column;  
}
.project2 p, img {
    margin: auto;
    cursor: pointer;
    font-weight: bold;
}
.project3 {
    display: flex;  
    flex-direction: column;  
}
.project3 p, img {
    margin: auto;
    cursor: pointer;
    font-weight: bold;
}
.project4 {
    display: flex;  
    flex-direction: column;  
}
.project4 p, img {
    margin: auto;
    cursor: pointer;
    font-weight: bold;
}
.project5 {
    display: flex;  
    flex-direction: column;  
}
.project5 p, img {
    margin: auto;
    cursor: pointer;
    font-weight: bold;
}
.project6 {
    display: flex;  
    flex-direction: column;  
}
.project6 p, img {
    margin: auto;
    cursor: pointer;
    font-weight: bold;
}
@media screen and (max-width: 360px) {
    body {
        font-size: 12px;
    }
    .container img {
        height: 75px;
        width: 75px;
    }
}